.bodySection{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color:   rgb(27, 27, 27);
    position: relative;
    z-index: 50;
    padding: 0;
    padding-top: 2rem;
    margin: 0;
    align-items: center;
}

.aboutMe{
    display: flex;
    background-color: rgb(48, 45, 45);
    width: 85vw;
    margin-bottom: 3rem;
    padding: 1rem;
    border-top: 0.3rem solid;
    border-color: rgb(137, 42, 192);
    transition: 1s ease-in-out;
}

.aboutTitle{
    display: flex;
    color:white;
    font-family: 'Alexandria', sans-serif;
    font-style: bold;
    font-size: 3rem;
    margin-bottom: -0.7rem;
    padding-top: 1rem;
    text-decoration: none;
    align-items: center;
}

.aboutTitleText{
    padding: 0;
    margin: 0;
}

.fa-link{
    font-size: 3rem;
    transform: scale(0.5);
    transition: 0.15s ease-in-out;
}

.fa-link:hover{
       color: rgb(98, 98, 98);
}

.aboutText{
    color: white;
    font-size: 1.5rem;
}

.aboutImg{
    width: 15rem;
    height: 15rem;
    display: none;
}
.aboutLeftCol{
    display: flex;
    flex-direction: column;
}

.aboutRightCol{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.bodyVideoWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bodyVideo{
    width: 84.5vw;
    height: 95vh;
    aspect-ratio: 16,9;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    border: none;
}

@media (max-width:414px){
.bodySection{
    padding-top: 1rem;
    margin-top: 1rem;
    height: auto;
}

div.bodySection:before{
    content: "";
    position: absolute;
    top: 0;
    width: 70vw;
    border-top: 1px solid rgb(255, 255, 255);
}

.aboutMe{
margin: 0;
}
    
.aboutTitle{
    font-size: 1.5rem;
}

.aboutText{
    font-size: 1rem;
}

.fa-link{
    font-size: 1.5rem;
    transform: scale(0.5);
}
}