.splashImage{
    display: flex;
    width: 100vw;
    height: 95vh; 
    background-image: url("https://imgur.com/ufsrP8P.png");
    background-position: center;
    background-size: cover;
    position: relative;
    transition: 1s ease-out;
    font-size: 5rem;
    color: rgb(246, 249, 249);
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.selectionOuter{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
}

.selectionWrapper{
    display: flex;
    position: relative;
    height: 10rem;
    width: 100vw;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
}

.selectionCard{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.664);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 15vw;
    height: 15rem;
    z-index: 49;
    align-items: center;
    transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 1.3rem;   
    font-family: 'Alexandria', sans-serif; 
    color: antiquewhite;
}

.cardIcon{
    margin-top: 3rem;
    font-size: 5rem;
    color: antiquewhite;
    transition: 0.3s ease-in-out;
}

.cardText{
    font-size: 1.3rem;
    padding-top: 0.8rem;
}

.cardButton{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

.cardIcon:hover{
    color: rgb(78, 74, 74);
}

.selectionCard:hover{   
    transform: translateY(-9rem);
}

@media (max-width:414px){
.selectionOuter{
    justify-content: end;
    height: auto;
    background-color: rgba(17, 219, 219, 0);
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -10;
}

.selectionWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    padding: 0;
    margin: 0;
    height: auto;
    background-color: rgba(241, 80, 17, 0);
    z-index: -10;
}

.selectionCard{
    display: flex;
    width: 60vw;
    height: auto;
    padding: 0;
    margin: 0.3rem;
    z-index: -10;
}

.selectionCard:hover{
    transform: translateY(0rem); 
}
.cardText{
    font-size: 1rem;
    margin: 0;
}

.cardIcon{
    font-size: 3rem;
    color: rgba(250, 235, 215, 0);
    transition: 0.3s ease-in-out;
    margin: 0;
    margin-bottom: 1rem;
}
}


// .selectionCard:hover{   
//     animation: rise 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1 normal forwards;
//     transition: ease-in-out;
// }

// @keyframes rise {
//   50%{
//     transform: translateY(-11rem);
//     z-index: 49;
//   }
//   70%{
//     z-index: 53;
//   }
//   100%{
//     transform: translateY(0rem);
//     z-index: 53;
//   }
// }



